.fs-0 {
    font-size: 4rem;
}

.fs-7 {
    font-size: 0.8rem;
}

input::placeholder {
    font-size: 12px;
}


.link-style {
    text-decoration: none;
    color: #737373;
}

.link-style:hover {
    text-decoration: underline;
    color: #737373;
}

.bg-gray {
    background-color: #f0f2f5;
}

@media (min-width: 62rem) {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}